pytest-qt
pytest-mock==3.14.0
importlib-metadata
sqlalchemy
pytest-cov
bcrypt
black
ruff
pytest-timeout
# Type checking and security
mypy
types-all
bandit[toml]
safety
# Pre-commit hooks
pre-commit
# Add other dev dependencies here